<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-title color="primary">Transactions</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-segment
    mode="ios"
    [value]="segmentValue"
    (ionChange)="segmentChanged($event)"
  >
    <ion-segment-button value="in">
      <ion-label>In-flow</ion-label>
    </ion-segment-button>
    <ion-segment-button value="out">
      <ion-label>out-flow</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<content> </content>
